@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic page layout */
html,
body,
#__next {
  height: 100%;
}
body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background-color: #f8fafc;
  color: #0f172a;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.success-card {
  animation: fadeInUp 0.6s ease-in-out;
}
